/* You can add global styles to this file, and also import other style files */

@import "bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Custom dialog styles */
.custom-dialog-container .mat-mdc-dialog-container {
  border-radius: 12px !important;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12) !important;
  overflow: hidden;
}

.custom-dialog-container .mdc-dialog__surface {
  background-color: #fff !important;
}
